.sidebar {
  position: fixed;
  left: 0;
  top: 0;

  width: 250px;
  height: 100vh;

  z-index: 1000;

  background: #06122d;
}

.sidebar-top {
  flex: 1;
}

.logo {
  padding: 30px;
}

.logo h2 {
  color: white;
  font-size: 24px;
}

.logo p {
  color: #94a3b8;
  margin-top: 6px;
  font-size: 14px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.menu a {
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 0 16px;

  border-radius: 12px;

  text-decoration: none;

  color: #dbe4f0;

  transition: .2s;
}

.menu a:hover {
  background: rgba(37,99,235,.25);
}

.menu a.active {
  background: #2563eb;
  color: white;
}

.sidebar-footer {
  padding: 20px;

  display: flex;
  align-items: center;
  gap: 12px;

  border-top: 1px solid rgba(255,255,255,.08);
}

.avatar {
  width: 45px;
  height: 45px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info h4 {
  color: white;
}

.user-info span {
  color: #94a3b8;
}
