<div class="sidebar">

  <div class="sidebar-top">
    <div class="logo">
      <h2>Hotel Manager</h2>
      <p>Hệ thống quản lý khách sạn</p>
    </div>

    <nav class="menu">

      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fa-solid fa-house"></i>
        <span>Tổng quan</span>
      </a>

      <a routerLink="/rooms" routerLinkActive="active">
        <i class="fa-solid fa-bed"></i>
        <span>Quản lý phòng</span>
      </a>

      <a routerLink="/bookings" routerLinkActive="active">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Đặt phòng</span>
      </a>

      <a routerLink="/customers" routerLinkActive="active">
        <i class="fa-solid fa-users"></i>
        <span>Khách hàng</span>
      </a>

      <a routerLink="/reports" routerLinkActive="active">
        <i class="fa-solid fa-chart-column"></i>
        <span>Báo cáo</span>
      </a>

      <a routerLink="/settings" routerLinkActive="active">
        <i class="fa-solid fa-gear"></i>
        <span>Cài đặt</span>
      </a>

    </nav>
  </div>

  <div class="sidebar-footer">

    <div class="avatar">
      <link rel="icon" type="image/x-icon" href="auuu.ico">
    </div>

    <div class="user-info">
      <h4>Admin</h4>
      <span>Quản trị viên</span>
    </div>

  </div>

</div>
